/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

/* Additional custom fonts can be added here */