@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Neuton', serif;
    font-style: italic;
    font-weight: lighter;

}


h1,
h2,
h3 {
    font-weight: bolder;
}