@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Neuton', serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 1.25rem;
    color: #e5e7eb;
}


h1,
h2,
h3 {
    font-weight: bolder;
    color: #e5e7eb
}


h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

p {
    font-size: large;
}

span {
    font-size: normal;
}